div.hide-side-bar{
    position:fixed;
    top:7vh;
    width:65vw;
    height: 93vh;
    background-color:rgb(237, 237, 237);
    transition: 1s;
    transform: translateX(-100%);
    visibility: hidden;
}
div.display-side-bar{
    position:fixed;
    top:7vh;
    width:65vw;
    height: 93vh;
    background-color:rgb(237, 237, 237);
    transition: 1s;
    transform: translateX(0%);
}
@media screen and (max-width:500px){
    div.hide-side-bar{
        visibility: visible; 
    }
    div.logo-part{
        /* background-color: blue; */
        margin-top: 8%;
    }
    div.navigation-links{
        width:100%;
        margin-top: 15%;
        /* background-color: blueviolet; */
    }
    ul.slide-bar-links{
        /* background-color: aqua; */
        width:95%;
        padding-left: 5%;
        list-style: none;
    }
    li.slide-bar-link{
        width:100%;
        padding: 4% 0%;
        margin-bottom:2%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5vw;
        /* background-color: blueviolet; */
    }
    .slide-bar-link-active{
        width:100%;
        padding: 5% 0%;
        margin-left:-0%;
        margin-bottom:2%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to right,#006aff,#17d0ed);
        border-radius:3em;
        border-top-right-radius:0em;
        border-bottom-right-radius:0em;
    }
    .s-b-link{
        padding-left: 5%;
        width:100%;
        text-transform:capitalize;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 5vw;
        font-weight:600;
        /* background-color:blue; */
    }
    .s-b-link-active{
        padding-left: 5%;
        width:100%;
        text-transform:capitalize;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 5vw;
        font-weight:600;
        color:white;
    }
}